---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="antialiased">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{% link /assets/css/app.css %}">
</head>
<body class="h-full bg-white-100 font-sans">
  {%- include header.html -%}

  <div id="mobilecontainer" class="h-full flex flex-col">
    <div id="beforecontainer" class="basis-4 flex-initial"></div>

    <div class="basis-full h-screen bg-top bg-no-repeat bg-contain" style="background-image: url(/assets/img/green-mat-1.png)">
      <div>
        <img draggable="false" src="/assets/img/draggable-1.png" class="h-60 w-60"></img>
      </div> 
    </div>

    <div id="aftercontainer"></div>

    <main aria-label="Content">
      {{ content }}
    </main>

  </div>

  {%- include footer.html -%}

  <script src="{% link /assets/js/app.js %}"></script>
</body>
</html>
