---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="antialiased">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {%- seo -%}
    
    <link rel="stylesheet" href="{% link /assets/css/app.css %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
      $( function() {
        $( "#draggable" ).draggable();
      } );
    </script>
  </head>

<body class=" bg-white-100 font-sans overflow-clip">
    <div class="overflow-visible flex-auto ">
      <div class="flex-auto flex-col justify-center content-center">
        <div class="flex grow shrink-0 items-start">
          <div class="flex grow shrink-0 self-start w-auto h-screen bg-top bg-no-repeat bg-contain" style="background-image: url(images/green-mat-1.png)">
            <img class="invisible self-start" src="images/green-mat-1.png">
          </div>
        </div>
        <div id="draggable" class="absolute inline w-fit h-fit">
          <img class=" w-auto h-60 self-start" src="images/draggable-1.png">
        </div>
      </div>
    </div>
    </div>

    <main aria-label="Content">
      {{ content }}
    </main>
  


  {%- include footer.html -%}

  <script src="{% link /assets/js/app.js %}"></script>
</body>
</html>
